@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        @Model.StatusMessage. You can now <a href="@Url.Action("Login", "Account")">log in</a>.
    </p>
</div>

@section Scripts{
       <partial name="_ValidationScriptsPartial" />
       <script>
            //on login link click
            $('a[href="@Url.Action("Login", "Account")"]').click(function (e) {
                e.preventDefault();
                 debugger;
                //call ajax to send @Model.AMSUser, @Model.Role 
                $.ajax({
                    url: "https://localhost:7290/api/Auth/register",
                    type: "POST",
                    data: JSON.stringify({ "UserName": "@Model.AMSUser.UserName","Password":"@Model.AMSUser.PasswordHash", "Email": "@Model.AMSUser.Email", "Role": "@Model.Role" }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        //if success, redirect to login page
                        window.location.href = "/Identity/Account/Login";
                    },
                    error: function (xhr, status, error) {
                        //if error, show error message
                        alert(xhr.responseText);
                    }
                });
            });
       </script>
}
