@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .card {
        backdrop-filter: blur(10px);
        @* background-image: url("https://picsum.photos/1920/1080"); *@
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        border-radius: 25px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .card-title {
        color: white;
        font-weight:bold;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #F98B4A;
    }

    .btn-primary {
        background-color: #F98B4A;
        border: none;
    }

        .btn-primary:hover {
            background-color: #F67121;
        }

    .form-check-label {
        color: #777;
    }

    a {
        color: white;
    }

        a:hover {
            color: #F98B4A;
        }

</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h3 class="card-title text-center">Log in</h3>
                    <hr />
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email" class="form-label">Email address</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            <label class="form-check-label" asp-for="Input.RememberMe" style="color:white">Remember me</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                        </div>
                        @if ((Model.ExternalLogins?.Count ?? 0) != 0)
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                            </form>
                        }
                        <hr />
                        <p class="text-center">
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p class="text-center">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p class="text-center">
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        //check if localStorage is have token item
        //if (localStorage.getItem("token") != null) {
            //if have, redirect to home page
        //    window.location.href = "/Classes";
       // }
        //event on form submit
        $("#account").submit(function (e) {
             debugger;
            e.preventDefault();
            //get username and password
            var email = $("#Input_Email").val();
            var password = $("#Input_Password").val();
            //make ajax call to login
            $.ajax({
                url: "https://localhost:7290/api/Auth/login",
                type: "POST",
                data: JSON.stringify({ Email: email, Password: password}),
                contentType: "application/json",
                success: function (data) {
                    // If successful, store the token in local storage
                    localStorage.setItem("token", data.token);
                    //if success, redirect to home page
                    window.location.href = "/ClassStudents";
                },
                error: function (xhr, status, error) {
                    //if error, show error message
                    alert(xhr.responseText);
                }
            });
        });
    </script>
}
